.wrapper{
    display:grid;
    grid-template-columns: 100%;
    grid-gap:1em;
  }
.wrapper > div{
  background:#eee;
  padding:1em;
  max-width: 1000px;
}

/* Data entry form */
.formarea{
  background:rgb(215, 215, 215);
  padding:1em;
  max-width: 1000px;
}

/* Config page */
.addr{
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.prod{
  background-color: rgb(80, 181, 83);
}
.maint{
  background-color: rgb(217, 79, 79);
}
.new{
  background-color: rgb(158, 166, 158);
}
.select_no{
  color: rgb(190, 190, 190);
  background-color: rgb(154, 158, 105);
  border-radius: 8px;
}
.select_yes{
  background-color: rgb(164, 175, 12);
  border-radius: 8px;
}
.saved{
  color: rgb(190, 190, 190);
  background-color: rgb(124, 130, 137);
  border-radius: 12px;
}
.save{
  background-color: rgb(31, 86, 163);
  border-radius: 12px;
}
.del{
  background-color: rgb(195, 124, 9);
  border-radius: 12px;
}
.dis{
  color: rgb(190, 190, 190);
  background-color: rgb(183, 147, 90);
  border-radius: 12px;
}

/* Login grid */
.loginrow{
  display: grid;
  grid-template-columns: 300px 360px;
}
.logindrow > div {
  text-align: left;
}

/* Password validation message */
#passmessage {
  display:none;
  background: rgb(180, 180, 180);
  color: #000;
  position: relative;
  padding: 1em 3em;
  margin-top: 10px;
  border-radius: 8px;
}
#passmessage p {
  font-size: 18px;
}

/* Checkmarks as fields are correctly filled out */
input + span {
  padding-right: 30px;
}
input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}
input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

/* Green checkmark */
.valid {
  color: #357f37;
}
.valid:before {
  position: relative;
  left: -35px;
  content: '✓';
}
/* Red "x" icon */
.invalid {
  color: #922424;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: '✖';
}