/* Page settings */

body{
  font-family: "Arial", Serif;
  background-color: #f4f4f4;
}

.wrapper{
    display:grid;
    grid-template-columns: 100%;
    grid-gap:1em;
  }
.wrapper > div{
  background:#eee;
  padding:1em;
  max-width: 1000px;
}

/* Header area */
.header{
  background:#eee;
  padding: 1em;
  text-align: center;
}
/* Logo in header */
.header > div > img{
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 2em;
}

/* Navigation */
.burger-nav{
  position: absolute;
  overflow: hidden;
  top: 1em;
  left: 1em;
}
.burger-nav a{
  float: left;
  display: block;
}
.burger-nav a:hover{
  background-color: rgb(255, 255, 255);
}
.side-nav{
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  background-color: rgb(60, 60, 60);
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #fff;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

/* Main area */
.main{
  padding: 1em;
  text-align: center;
}

/* Footer area */
.foot{
  padding: 1em;
  text-align: center;
}

/* Data entry form */
.formarea{
  background:rgb(215, 215, 215);
  padding:1em;
  max-width: 1000px;
}

/* Log area */
.log {
  text-align: left;
  white-space: pre-wrap;
}
.log > pre{
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Config page */
.addr{
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.prod{
  background-color: rgb(80, 181, 83);
}
.maint{
  background-color: rgb(217, 79, 79);
}
.new{
  background-color: rgb(158, 166, 158);
}
.select_no{
  color: rgb(190, 190, 190);
  background-color: rgb(154, 158, 105);
  border-radius: 8px;
}
.select_yes{
  background-color: rgb(164, 175, 12);
  border-radius: 8px;
}
.saved{
  color: rgb(190, 190, 190);
  background-color: rgb(124, 130, 137);
  border-radius: 12px;
}
.save{
  background-color: rgb(31, 86, 163);
  border-radius: 12px;
}
.del{
  background-color: rgb(195, 124, 9);
  border-radius: 12px;
}
.dis{
  color: rgb(190, 190, 190);
  background-color: rgb(183, 147, 90);
  border-radius: 12px;
}
.dbcheck{
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}
.dbcheck_no{
  color: rgb(190, 190, 190);
  background-color: rgb(136, 123, 145);
}
.dbcheck_yes{
  background-color: rgb(149, 101, 184);
}

/* Config maintenance check area */
.dbcheck_disabled{
  color: rgb(180, 180, 180);
}
.dbcheck_enabled{
  color: rgb(0, 0, 0);
}

/* Login page */
.login{
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
/* Login grid */
.loginrow{
  display: grid;
  grid-template-columns: 300px 360px;
}
.logindrow > div {
  text-align: left;
}

/* Password validation message */
#passmessage {
  display:none;
  background: rgb(180, 180, 180);
  color: #000;
  position: relative;
  padding: 1em 3em;
  margin-top: 10px;
  border-radius: 8px;
}
#passmessage p {
  font-size: 18px;
}

/* Checkmarks as fields are correctly filled out */
input + span {
  padding-right: 30px;
}
input:invalid+span:after {
  position: absolute; content: '✖';
  padding-left: 5px;
}
input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

/* Green checkmark */
.valid {
  color: #357f37;
}
.valid:before {
  position: relative;
  left: -35px;
  content: '✓';
}
/* Red "x" icon */
.invalid {
  color: #922424;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: '✖';
}