<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirector Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    Copyright 2020 - https://mit-license.org -->
    <script src="{{ url_for('static', filename='browsercheck.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='navigation.js') }}"></script>

    <div class="wrapper">

        <!-- Header area here -->
        <div class="header">

            <!-- Navigation menu -->
            <span class="burger-nav">
                <a href="#" onclick="openSlideMenu()">
                    <svg width="30" height="30">
                        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                    </svg>
                </a>
            </span>
            <div id="side-menu" class="side-nav">
                <a href="/config" class="btn-close" onclick="closeSideMenu()">&times;</a>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/config">Configure</a>
                <a href="/loginmanage">User Management</a>
                <a href="/status">Logs</a>
                <a href="/loginpassword">Password Change</a>
                <a href="/logout">Logout</a>
            </div>
            
            <div>
                <img src="{{ g.logo }}" style="width:{{ g.logosize[0] }}px;height:{{ g.logosize[1] }}px;">
            </div>

            <!-- Page Title -->
            <H1>Redirector Server</H1>
        
            <h3><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
            <h3>User: {{ g.user.login }} </h3>

        </div>

        <div>

            <h2>Configured Redirect</h2>

            <div class="formarea">

                <form action="/save/{{ redirectitem['_index'] }}" method="post">
                
                {{ request.host_url }}
                {% if redirectitem['maintenance'] == False %}
                <input type="text" value="{{ redirectitem['redirectfrom'] }}" name="redirectSourceInput" class="addr prod" required style="text-align: left; width:50%" onclick="fromcheckClicked(this)">
                {% else %}
                <input type="text" value="{{ redirectitem['redirectfrom'] }}" name="redirectSourceInput" class="addr maint" required style="text-align: left; width:50%" onclick="fromcheckClicked(this)">
                {% endif %}

                {% if redirectitem['embed'] == False %}
                <label class="addr select_no checkbox" onclick="embcheckClicked(this)"><input type="checkbox" name="redirectTargetEmbed">Embedded</label><br><br>
                {% else %}
                <label class="addr select_yes checkbox" onclick="embcheckClicked(this)"><input type="checkbox" name="redirectTargetEmbed" checked="checked" name="redirectTargetEmbed">Embedded</label><br><br>
                {% endif %}

                redirects to
                {% if redirectitem['maintenance'] == False %}
                <input type="text" value="{{ redirectitem['redirectto'] }}" name="redirectTargetInput" class="addr prod" required style="text-align: left; width:52%" onclick="toClicked(this)">
                <label class="addr select_no checkbox" onclick="maintClicked(this)"><input type="checkbox" name="redirectTargetMaint">Maint</label>
                {% else %}
                <input type="text" value="{{ redirectitem['redirectto'] }}" name="redirectTargetInput" class="addr maint" required style="text-align: left; width:52%" onclick="toClicked(this)">
                <label class="addr select_yes checkbox" onclick="maintClicked(this)"><input type="checkbox" name="redirectTargetMaint" checked="checked">Maint</label>
                {% endif %}

                {% if redirectitem['maintcheck'] == False %}
                <p class="dbcheck_disabled">
                    <label class="dbcheck dbcheck_no" onclick="checkClicked(this)"><input type="checkbox" name="redirectMaintCheck">Maint Check</label>
                    maintenance function type: <input type="text" value="{{ redirectitem.maintfunc['type'] }}" name="maintfunctype" class="addr new" required style="text-align: left" size="5" readonly>
                    <p class="dbcheck_disabled">SQL Server name (and instance if needed): <input type="text" value="{{ redirectitem.maintfunc['sqlserver'] }}" name="maintfuncsqlserver" class="addr new" readonly style="text-align: left" size="43"></p>
                    <p class="dbcheck_disabled">SQL User ID: <input type="text" value="{{ redirectitem.maintfunc['sqluser'] }}" name="maintfuncsqluser" class="addr new" readonly style="text-align: left" size="12">
                    Password: <input type="password" value="nopasschange" name="maintfuncsqlpass" class="addr new" readonly style="text-align: left" size="43"></p>
                    <p class="dbcheck_disabled">Database: <input type="text" value="{{ redirectitem.maintfunc['sqldb'] }}" name="maintfuncsqldb" class="addr new" readonly style="text-align: left" size="20">
                    Schema: <input type="text" value="{{ redirectitem.maintfunc['sqlschema'] }}" name="maintfuncsqlschema" class="addr new" readonly style="text-align: left" size="10">
                    Table: <input type="text" value="{{ redirectitem.maintfunc['sqltable'] }}" name="maintfuncsqltable" class="addr new" readonly style="text-align: left" size="20"></p>
                    <p class="dbcheck_disabled">Filter Field: <input type="text" value="{{ redirectitem.maintfunc['sqlwhere'] }}" name="maintfuncsqlwhere" class="addr new" readonly style="text-align: left" size="19">
                    Filter Value: <input type="text" value="{{ redirectitem.maintfunc['sqlwhereval'] }}" name="maintfuncsqlwhereval" class="addr new" readonly style="text-align: left" size="37"></p>
                    <p class="dbcheck_disabled">Check Field: <input type="text" value="{{ redirectitem.maintfunc['sqlcheck'] }}" name="maintfuncsqlcheck" class="addr new" readonly style="text-align: left" size="18">
                    Check Value: <input type="text" value="{{ redirectitem.maintfunc['sqlcheckval'] }}" name="maintfuncsqlcheckval" class="addr new" readonly style="text-align: left" size="36"></p>
                </p>
                {% else %}
                <p>
                    <label class="dbcheck dbcheck_yes" onclick="checkClicked(this)"><input type="checkbox" name="redirectMaintCheck" checked="checked">Maint Check</label>
                    maintenance function type: <input type="text" value="{{ redirectitem.maintfunc['type'] }}" name="maintfunctype" class="addr new" required style="text-align: left" size="5" readonly>
                    <p>SQL Server name (and instance if needed): <input type="text" value="{{ redirectitem.maintfunc['sqlserver'] }}" name="maintfuncsqlserver" class="addr new" required style="text-align: left" size="43"></p>
                    <p>SQL User ID: <input type="text" value="{{ redirectitem.maintfunc['sqluser'] }}" name="maintfuncsqluser" class="addr new" required style="text-align: left" size="12">
                    Password: <input type="password" value="nopasschange" name="maintfuncsqlpass" class="addr new" required style="text-align: left" size="43"></p>
                    <p>Database: <input type="text" value="{{ redirectitem.maintfunc['sqldb'] }}" name="maintfuncsqldb" class="addr new" required style="text-align: left" size="20">
                    Schema: <input type="text" value="{{ redirectitem.maintfunc['sqlschema'] }}" name="maintfuncsqlschema" class="addr new" required style="text-align: left" size="10">
                    Table: <input type="text" value="{{ redirectitem.maintfunc['sqltable'] }}" name="maintfuncsqltable" class="addr new" required style="text-align: left" size="20"></p>
                    <p>Filter Field: <input type="text" value="{{ redirectitem.maintfunc['sqlwhere'] }}" name="maintfuncsqlwhere" class="addr new" required style="text-align: left" size="19">
                    Filter Value: <input type="text" value="{{ redirectitem.maintfunc['sqlwhereval'] }}" name="maintfuncsqlwhereval" class="addr new" required style="text-align: left" size="37"></p>
                    <p>Check Field: <input type="text" value="{{ redirectitem.maintfunc['sqlcheck'] }}" name="maintfuncsqlcheck" class="addr new" required style="text-align: left" size="18">
                    Check Value: <input type="text" value="{{ redirectitem.maintfunc['sqlcheckval'] }}" name="maintfuncsqlcheckval" class="addr new" required style="text-align: left" size="36"></p>
                </p>
                {% endif %}

                <button class="addr saved" id="savebutton" name="submit" value="save">Save</button>

                </form>
            </div><br>

        </div>

        <div class="foot">

            <h3>Contact the {{ g.team }} for questions at <a href="mailto: {{ g.email }}">Support</a></h3>

        </div>

    </div>

</body>
</html>