<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirector Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    Copyright 2020 - https://mit-license.org -->
    <font face="arial">
        <div class="wrapper">

            <div>
                
                <center>
                    <H1>Redirector Server</H1>
                
                    <h3><p>Date: <span id="datetime"></span></p>
                    <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
                </center>
    
            </div>
    
            <div class="description">

                <a href="https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer-and-edge">Internet Explorer</a> is not supported for this site, you must use a modern web browser such as <a href="https://www.google.com/chrome">Chrome</a>, <a href="https://www.microsoft.com/en-us/edge">Edge Chromium</a>, <a href="https://www.mozilla.org/firefox">Firefox</a> or <a href="http://www.apple.com/safari">Safari</a>.
    
            </div>
    
            <div>
    
                <h3>Contact the {{ team }} for questions at <a href="mailto: {{ email }}">Support</a></h3>
    
            </div>
    
        </div>
    </font>
</body>
</html>