<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirector Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    Copyright 2020 - https://mit-license.org -->
    <script src="{{ url_for('static', filename='browsercheck.js') }}"></script>
    <script src="{{ url_for('static', filename='navigation.js') }}"></script>

    <div class="wrapper">

        <!-- Header area here -->
        <div class="header">

            <!-- Navigation menu -->
            <span class="burger-nav">
                <a href="#" onclick="openSlideMenu()">
                    <svg width="30" height="30">
                        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                    </svg>
                </a>
            </span>
            <div id="side-menu" class="side-nav">
                <a href="/" class="btn-close" onclick="closeSideMenu()">&times;</a>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/config">Configure</a>
                <a href="/loginmanage">User Management</a>
                <a href="/status">Logs</a>
                <a href="/loginpassword">Password Change</a>
                <a href="/logout">Logout</a>
            </div>

            <div>
                <img src="{{ g.logo }}" style="width:{{ g.logosize[0] }}px;height:{{ g.logosize[1] }}px;">
            </div>

            <H1>Redirector Server</H1>
        
            <h3><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
            <h3>{{ g.user.login }}</h3>

        </div>

        <h2>Configured Redirects</h2>

        {% for redirectitem in redirect_records %}
        <div class="formarea">
            
            {{ request.host_url }}
            {% if redirectitem['maintenance'] == False %}
            <input type="text" value="{{ redirectitem['redirectfrom'] }}" name="redirectSourceInput" class="addr prod" readonly style="text-align: left; width:60%">
            {% else %}
            <input type="text" value="{{ redirectitem['redirectfrom'] }}" name="redirectSourceInput" class="addr maint" readonly style="text-align: left; width:60%">
            {% endif %}

            {% if redirectitem['embed'] == False %}
            <label class="addr select_no checkbox" name="redirectTargetEmbed">Embedded</label><br><br>
            {% else %}
            <label class="addr select_yes checkbox" name="redirectTargetEmbed" name="redirectTargetEmbed">Embedded</label><br><br>
            {% endif %}

            redirects to
            {% if redirectitem['maintenance'] == False %}
            <input type="text" value="{{ redirectitem['redirectto'] }}" name="redirectTargetInput" class="addr prod" readonly style="text-align: left; width:61%">
            <label class="addr select_no checkbox" name="redirectTargetMaint">Maintenance</label>
            {% else %}
            <input type="text" value="{{ redirectitem['redirectto'] }}" name="redirectTargetInput" class="addr maint" readonly style="text-align: left; width:61%">
            <label class="addr select_yes checkbox" name="redirectTargetMaint">Maintenance</label>
            {% endif %}

        </div>
        {% endfor %}

        <div class="foot">

            <h3>Contact the {{ g.team }} for questions at <a href="mailto: {{ g.email }}">Support</a></h3>

        </div>

    </div>

</body>
</html>