<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirector Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    Copyright 2020 - https://mit-license.org -->
    <script src="{{ url_for('static', filename='browsercheck.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='navigation.js') }}"></script>

    <div class="wrapper">

        <!-- Header area here -->
        <div class="header">

            <!-- Navigation menu -->
            <span class="burger-nav">
                <a href="#" onclick="openSlideMenu()">
                    <svg width="30" height="30">
                        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
                        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
                        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
                    </svg>
                </a>
            </span>
            <div id="side-menu" class="side-nav">
                <a href="/loginmanage" class="btn-close" onclick="closeSideMenu()">&times;</a>
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/config">Configure</a>
                <a href="/loginmanage">User Management</a>
                <a href="/status">Logs</a>
                <a href="/loginpassword">Password Change</a>
                <a href="/logout">Logout</a>
            </div>

            <div>
                <img src="{{ g.logo }}" style="width:{{ g.logosize[0] }}px;height:{{ g.logosize[1] }}px;">
            </div>

            <H1>Redirector Server</H1>
        
            <h3><p>Date: <span id="datetime"></span></p>
            <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
            <h3>User: {{ g.user.login }} </h3>

        </div>

        <div>

            <h2>Login Management</h2>

            {% for login_record in login_records %}
            <div class="formarea">

                <form action="/loginmanage" method="post">
                
                Login: <input type="hidden" name="user_index" value="{{ login_record['_index'] }}" readonly>
                {% if login_record['approved'] == True %}
                <input type="text" value="{{ login_record['login'] }}" name="user_login" class="addr prod" required style="text-align: left; width:9%" readonly>
                Last: <input type="text" value="{{ login_record['namelast'] }}" name="user_namelast" class="addr prod" required style="text-align: left; width:12%" onclick="namelastClicked(this)">
                First: <input type="text" value="{{ login_record['namefirst'] }}" name="user_namefirst" class="addr prod" required style="text-align: left; width:10%" onclick="namefirstClicked(this)">
                Email: <input type="text" value="{{ login_record['email'] }}" name="user_email" class="addr prod" required style="text-align: left; width:24%" onclick="emailClicked(this)">
                {% if login_record['login'] != g.user.login %}
                <label class="addr select_yes checkbox" onclick="approvedClicked(this)"><input type="checkbox" name="user_approved" checked="checked">Approved</label><br><br>
                {% else %}
                <label class="addr select_yes checkbox"><input type="checkbox" name="user_approved" checked="checked" onclick="return false;">Approved</label><br><br>
                {% endif %}

                {% else %}

                <input type="text" value="{{ login_record['login'] }}" name="user_login" class="addr maint" required style="text-align: left; width:9%" readonly>
                Last: <input type="text" value="{{ login_record['namelast'] }}" name="user_namelast" class="addr maint" required style="text-align: left; width:12%" onclick="namelastClicked(this)">
                First: <input type="text" value="{{ login_record['namefirst'] }}" name="user_namefirst" class="addr maint" required style="text-align: left; width:10%" onclick="namefirstClicked(this)">
                Email: <input type="text" value="{{ login_record['email'] }}" name="user_email" class="addr maint" required style="text-align: left; width:24%" onclick="emailClicked(this)">
                <label class="addr select_no checkbox" onclick="approvedClicked(this)"><input type="checkbox" name="user_approved">Not Approved</label><br><br>
                {% endif %}

                <button class="addr saved" name="submit" value="save">Save</button>
                
                {% if login_record['login'] != g.user.login %}
                <button class="addr del" name="submit" value="delete">Delete</button>
                {% else %}
                <button class="addr dis" name="submit" value="delete" disabled>Delete</button>
                {% endif %}

                </form>
            </div><br>
            {% endfor %}

        </div>

        <div class="foot">

            <h3>Contact the {{ g.team }} for questions at <a href="mailto: {{ g.email }}">Support</a></h3>

        </div>

    </div>

</body>
</html>