<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirector Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" media="all" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- Created by Bill Dykema - https://github.com/DykemaBill
    Copyright 2020 - https://mit-license.org -->
    <script src="{{ url_for('static', filename='browsercheck.js') }}"></script>
    <script src="{{ url_for('static', filename='passwordcheck.js') }}"></script>

    <div class="wrapper">
    
        <!-- Header area here -->
        <div class="header">

            <div>
                <img src="{{ g.logo }}" style="width:{{ g.logosize[0] }}px;height:{{ g.logosize[1] }}px;">
            </div>
                
                <H1>Redirector Server</H1>
            
                <h3><p>Date: <span id="datetime"></span></p>
                <script>var dt = new Date(); document.getElementById("datetime").innerHTML=dt.toLocaleString();</script></h3>
    
        </div>
    
        <div class="description">

            <h2>{{ logintitle }}</h2>

            <div class="formarea">
                <div class="loginrow">
                    <div>
                        <form method="POST" enctype="multipart/form-data">

                            <p>Login<br><input type="login" class="login new" name="user_login" minlength="7" maxlength="17" required autofocus><span></span></p>

                            <p>Password<br><input type="password" id="passfield" class="login new" name="user_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{9,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 9 or more characters" required onclick="fromClicked()" onkeyup="fromType(this)"><span></span></p>
                    </div>
                </div>
            </div>

            <br>

            <div class="formarea">
                            <input class="addr save" type="submit" value="Login" formaction="/login">
                        </form>
                <a href="/loginnew"><button class="addr save">New Account</button></a>
            </div>

        </div>

        <div class="foot">

            <h3>Contact the {{ g.team }} for questions at <a href="mailto: {{ g.email }}">Support</a></h3>

        </div>
    
    </div>

</body>
</html>